.gradientbg{
 background: url(../img/background.jpg) 
}


.form-control{
    margin: 10px 0;
}
.navbar {
    background-color: black;
}

#mainNav {
    background-color: black;
}
.btn-primary {
    background-color:lightgrey;
    border-color: lightgrey;
    color:black;
    margin-right: 10px;
     margin-left: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: lightslategrey;
  border-color: lightslategrey;
}

.footer {
    position:bottom;
}